# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

.DS_Store
coverage/
*.local

# Server build files
build/

# Frontend build files
node_modules/
dist/
dist-ssr/

/cypress/videos/
/cypress/screenshots/

*.tsbuildinfo

# IDE files
.idea/
.vs/
Session.vim
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# npm lock files
package-lock.json

# python venv and temp files
.venv/
__pycache__/
