@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

nav {
    /* background: rgb(var(--background-start-rgb)); */
    /* background: linear-gradient( */
    /*     to bottom, */
    /*     rgb(var(--background-start-rgb)), */
    /*     rgb(var(--background-end-rgb)) */
    /* ); */
    /* color: rgb(var(--foreground-rgb)); */
    display: flex;
    /* justify-content: space-between; */
    box-shadow: 4px 4px 8px 1px #00000075;
}

a {
    background: #0a0a0a;
    color: #00ef00;
    margin: 0.2rem;
    padding: 0.5rem;
    box-shadow: 4px 4px 8px 1px #00000075;
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient( */
  /*     to bottom, */
  /*     transparent, */
  /*     rgb(var(--background-end-rgb)) */
  /*   ) */
  /*   rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

