* {
    min-width: 0;
}

body {
    color: rgb(var(--foreground-rgb));
    background: #1e1e1e;
}

.pageTitle {
    margin: 0;
    line-height: 1.15;
    font-size: 4rem;
}

.grid {
    margin-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    max-width: 1000px;
}

.action {
    text-align: left;
    color: dodgerblue;
}

.stock {
    height: auto;
    width: 200px;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    background: #1e1e1e;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px;
}

.stockInput {
    height: auto;
    width: 400px;
    padding: 0.2rem 1rem;
    margin: 0.5rem;
    background: #1e1e1e;
    box-shadow: 4px 4px 8px 1px #00000075;
    border-radius: 2px;
    /* display: flex; */
}

.stockInput input {
    width: 100%;
    background: #1e4e1e;
    border: none;
    color: rgb(var(--foreground-rgb));
    font-size: 1rem;
    font-weight: 500;
    padding: 0.5rem;
    margin: 0;
    outline: none;
}

.container {
    padding: 0 2rem;
}

.pageTitle {
    margin: 0;
    line-height: 1.15;
    font-size: 3rem;
}

.stock h1 {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
    color: #00ef00;
}

.stock {
    height: auto;
    width: 200px;
    padding: 0.25rem;
    border-radius: 2px;
}

.title {
    padding: 0.1rem;
    font-size: 1rem;
}

.content {
    font-size: 0.9rem;
    font-weight: normal;
}

.created {
    font-size: 0.7rem;
    font-weight: lighter;
}

.action {
    text-align: left;
    color: dodgerblue;
}
